<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesanan Berhasil dilakukan | Peken</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <base href="/">
    <link rel="shortcut icon" href="img/icon.ico">
</head>
<body>
    <nav>
        <div class="container flex-between">
            <a class="webName flex-left" href="/">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
            </a>            
        </div>
    </nav>
    <div class="container">
        <main>
            <div class="bayar">

                <div class="warning">
                    Jangan pernah melakukan pembayaran apa pun ke manapun terkait pemesanan ini. Sebab situs web bukan situs toko online sebenarnya
                </div>
                <div>
                    <p>Batas pembayaran</p>
                    <b><%= deadline %></b>
                </div>
                
                <div>
                    <p>Total tagihan</p>
                    <b><%= bayar %></b>
                </div>
                <div>
                    <p>Nomor Pesanan</p>
                    <div class="flex-between">
                        <b class="code"><%= data.id %></b>
                        <b class="salin" onclick="copy(this)">Salin</b>
                    </div>
                </div>
                <div>
                    <p>Metode Pembayaran</p>
    
                    <div class="flex-between">
                        <div class="flex-left">
                            <img src="img/<%= data.method %>.jpg" alt="" height="35">
                            <div>
                                <b><%= data.method %></b>
                                <br>
                                <b style="color: var(--hijau)" class="code"> <%= data.payment_code %></b>
                            </div>
                        </div>
                        <b class="salin" onclick="copy(this)">Salin</b>
                    </div>
                </div>
                <div class="flex-right">
                    <a href="/">
                        <div class="button-soft">kembali ke beranda</div>
                    </a>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="container flex-between">
            <div>
                <div>
                    <div class="webName flex-left" href="/">
                        <img src="img/plant white.svg" width="25"  alt="">
                        <h3>PEKEN</h3>
                    </div>
                    <p>Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</p>
                </div>
                <div>
                    <h4>Ikuti kami</h4>
                    <div class="flex-left sosmed">
                        <a href=""><img src="img/bxl-facebook.svg" height="20" alt=""></a>
                        <a href=""><img src="img/instagram.svg" height="20" alt=""></a>
                        <a href=""><img src="img/twitter-bird.svg" height="18" alt=""></a>
                    </div>
                </div>
            </div>
            <div>
                <h4>Kontak kami</h4>
                <p>Jl. maju mundur, Karangtalun, Tanon, Sragen, Jawa tengah, Indonesia , 12345</p>
                <a href="mailto:syukurtullah@gmail.com">Info@peken.com</a>
                <a href="tel:6287882116939">+62 878 8211 6939</a>
                
            </div>
        </div>
    </footer>

<script src="script/script.js"></script>
</body>
</html>