<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <nav>
        <div class="container flex-between">
            <div class="webName flex-left">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
            </div>
            <input type="text" name="search" placeholder="Cari sayur dan buah segar berkualitas">
            
            <div class="flex-right">
                <div class=" flex-right" >
                    <p class="sumCart"></p>
                    <div class="cart">
                        <img src="img/cart.svg"  height="20" alt="">
                        <span></span>
                    </div>
                </div>
                <button class="button-soft">login</button>
            </div>
        </div>
    </nav>

    <div class="container">
        <main>
            <header class="flex-between">
                <h1>BELANJA BUAH DAN SAYUR PILIHAN DENGAN KUALITAS SEGAR DAN HARGA TERJANGKAU</h1>
                <img src="img/fruit-vege.svg" alt="">
            </header>
            <article>
                <h4>Produk kami</h4>
                <div class="box-category">
                    <a href="/g/buah">
                        <section>
                            <h3>Buah</h3>
                            <img src="img/fresh-fruits.png" height="130" alt="">
                        </section>
                    </a>
                    <a href="/g/sayur">
                        <section>
                            <h3>Sayur</h3>
                            <img src="img/vegetables-basket.png" height="145" alt="">
                        </section>
                    </a>
                    <a href="/g/all">
                        <section>
                            <h3>Semua</h3>
                            <img src="img/vegetables-fruits.png" height="135" alt="">
                        </section>
                    </a>
               </div>
            </article>
            <article>
                <h4>Produk Pilihan</h4>
                <div class="box-product">
                
                <%= data.forEach(e=>{ %> 
                    <section data-id= <%= e.id %> data-stock= <%= e.stock %>>
                        <a href="" class="loading">
                            <img src="image-data/ <%= e.image.file %>" class="productImage" alt="<%= e.image.alt %>">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name loading"><%= e.productName %></p>
                                </a>
                                <p class="note loading"><%= e.note %></p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum="0"><%= e.price %></p>
                                <div class="cart-p">
                                    <button class="button loading" onclick="addCart(this)">+ keranjang</button>
                                    <div class="cart-n flex-between" >
                                        <div>-</div>
                                        <input type="number" value="0">
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
                
                    <% }) %> 

                </div>
           
            </article>

            

        </main>
    </div>

    <footer>
    </footer>

<script src="script/script.js"></script>
<script src="script/home.js"></script>
</body>
</html>