<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <base href="/">
    <link rel="shortcut icon" href="img/icon.ico">
</head>
<body>
    <nav>
        <div class="container flex-between">
            <a class="webName flex-left" href="/">
                <img src="img/plant.svg" width="35"  alt="">
                <h3>PEKEN</h3>
            </a>
            <form action="/search" method="GET">
                <input type="text" name="key" placeholder="Cari sayur dan buah segar berkualitas" >
            </form>
            
            <div class="flex-right">
                <a <%- (username=='Login')? "onclick='login()'" :  "href='/cart'" %>  class="cartbox flex-right" >
                    <p class="sumCart"><%= totHarga %></p>
                    <div class="cart" >
                        <img src="img/cart.svg"  height="20" alt="">
                        <span><%= count %></span>
                    </div>
                </a>
                <button class="button-soft" data-name ="<%= name %>"  onclick=<%= (username=='Login')? 'login()' : `myaccount(this)` %>><%= username %> </button>
            </div>
        </div>
    </nav>
    <div class="container">
        <main >
            <article class=" display-product"  >
                <div class="image-box loading">
                    <img src="image-data/default-placeholder.png" class="productImage"  alt="">
                </div>
                <div class="right">
                    <section class="product-b">
                        <div class="top">
                            <p class="farm loading">lorem</p>
                            <h1 class="loading">Lorem ipsum dolor sit amet consectetur.</h1>
                            <p class="note loading">Lorem, ipsum.</p>
                        </div>
                        <div class="bottom">
                            <p class="price loading">Rp. 000.000<span>/lorem</span></p>
                            <div class="flex-left">
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                                <p class="stock loading">00 lorem</p>
                            </div>
                        </div>
                    </section>
                    <div class="description">
                        <h4 class="desc">Deskripsi Produk</h4>
                        <p class="desc loading">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam vero fuga, a repudiandae obcaecati, quos libero architecto error iusto ullam corrupti perferendis debitis ducimus optio explicabo eum? Totam, quisquam optio.</p>
                    </div>
                </div>
            </article>
            <article class="relateProduct">
                <h4>Produk terkait</h4>
                <div class="box-product">
                    <section class="product">
                        <a class ='loading' href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note loading">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum=0>Rp 000.000</p>
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a class ='loading' href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note loading">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum=0>Rp 000.000</p>
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a class ='loading' href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note loading">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum=0>Rp 000.000</p>
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a class ='loading' href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note loading">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum=0>Rp 000.000</p>
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a class ='loading' href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="" class="loading">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note loading">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price loading" data-sum=0>Rp 000.000</p>
                                <div class="cart-p loading">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> 
                </div>
            </article>
        </main>
    </div>
    <footer>
        <div class="container flex-between">
            <div>
                <div>
                    <div class="webName flex-left" href="/">
                        <img src="img/plant white.svg" width="25"  alt="">
                        <h3>PEKEN</h3>
                    </div>
                    <p>Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</p>
                </div>
                <div>
                    <h4>Ikuti kami</h4>
                    <div class="flex-left sosmed">
                        <a href=""><img src="img/bxl-facebook.svg" height="20" alt=""></a>
                        <a href=""><img src="img/instagram.svg" height="20" alt=""></a>
                        <a href=""><img src="img/twitter-bird.svg" height="18" alt=""></a>
                    </div>
                </div>
            </div>
            <div>
                <h4>Kontak kami</h4>
                <p>Jl. maju mundur, Karangtalun, Tanon, Sragen, Jawa tengah, Indonesia , 12345</p>
                <a href="mailto:syukurtullah@gmail.com">Info@peken.com</a>
                <a href="tel:6287882116939">+62 878 8211 6939</a>
            </div>
        </div>
    </footer>
<script src="script/script.js"></script>
<script src="script/detail.js"></script>
</body>
</html>