<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peken - Belanja buah dan sayur pilihan dengan kualitas segar dan harga terjangkau</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <base href="/">
</head>
<body>
    <nav>
        <div class="container flex-between">
            <div class="webName flex-left">
                <img src="img/plant.svg" width="35"  alt="">
                <a href="/"><h3>PEKEN</h3></a>
            </div>
            <form action="/search" method="GET">
                <input type="text" name="key" placeholder="Cari sayur dan buah segar berkualitas" >
            </form>
            <div class="flex-right">
                <div class=" flex-right" >
                    <p class="sumCart"><%= (totHarga!=0)?totHarga : ''%> </p>
                    <div class="cart">
                        <img src="img/cart.svg"  height="20" alt="">
                        <span><%= (count!=0)? count : '' %> </span>
                    </div>
                </div>


                <button class="button-soft" onclick="modal()"><%= username %> </button>
            </div>
        </div>
    </nav>


    <div class="container">
        <main>
            <div class="ctgr">
                <p>Kategori : </p>
                <a href="/g/buah"><div class="button-litle">Buah</div></a>
                <a href="/g/sayur"><div class="button-litle">Sayur</div></a>
                <a href="/g/all"><div class="button-litle">Semua</div></a>
            </div>
            <div class="flex-between">
                <h3><%= key %> </h3>
                <div class="flex-right">
                    <img src="img/sort-down.svg" height="15" alt="">

                    <div class="select"  tabindex="-1">
                        <div class="flex-between button-select" onclick="openSelect(event)">
                            <input type="text" id="arrangeInput" onchange="arrange(this)" value="<%= sortInput %> " disabled=true >
                            <img src="img/arrow-close.svg" height="6" alt="">
                        </div>
                        <div class="option">
                            <div data-sort='none'>Paling sesuai</div>
                            <div data-sort='price-asc'>Harga Terendah</div>
                            <div data-sort='price-desc'>Harga Tertinggi</div>
                            <div data-sort='abjad-asc'>A - Z</div>
                            <div data-sort='abjad-desc'>Z - A</div>
                        </div>
                    </div>
                </div>
            </div>




            <article>
                <div class="box-product">
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="" class="imageBox">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                    <section class="product">
                        <a href="">
                            <img src="image-data/default-placeholder.png" class="productImage" alt="">
                        </a>
                        <div class="labelProduct">
                            <div class="nameProduct">
                                <a href="">
                                    <p class="name">Lorem ipsum dolor sit.</p>
                                </a>
                                <p class="note">Lorem, ipsum.</p>
                            </div>
                            <div class="bawah flex-between">
                                <p class="price" data-sum=0>Rp 000.000</p>
                                <div class="cart-p">
                                    <button class="button " onclick="addCart(this)" >+ keranjang</button>
                                    <div class="cart-n flex-between">
                                        <div>-</div>
                                        <input type="number" value=0>
                                        <div>+</div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </section> 
                </div>
                <div class="button more" onclick="more()">Lebih Banyak</div>
            </article>

          

        </main>
    </div>

    <footer>
    </footer>

<script src="script/script.js"></script>
<script src="script/product.js"></script>
</body>
</html>